.search {
  width: 100%;
  max-width: 1140px;
  padding: 80px 0 39px 0;
  border-bottom: 1px solid;
  border-color: #424242;
}

.search__form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.search__film {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
}

.search__input {
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #2F2F2F;
  border: none;
  border-radius: 8px;
  text-indent: 20px;
  font-size: 14px;
}

.search__submit-btn {
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  background-color: transparent;
  background-image: url(../../images/search-btn.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.search__submit-btn:hover {
  cursor: pointer;
}

.search__switch {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .search {
    max-width: 708px;
  }

  .search__form {
    gap: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search {
    max-width: 292px;
  }

  .search__form {
    gap: 46px;
  }

  .search__input {
    height: 44px;
  }

}