.techs {
  width: 100%;
  max-width: 1200px;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  padding: 100px 40px;
}

.techs__container {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.techs__heading {
  margin: 0 0 23px 0;
  font-size: 22px;
  line-height: 26.63px;
  font-weight: 400;
}

.techs__info {
  margin: 0;
  border-top: 1px solid;
  border-color: #DADADA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 0 0;
}

.techs__subheading {
  margin: 0;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  text-align: center;
}

.techs__description {
  margin: 26px 0 0 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  max-width: 460px;
}

.techs__list {
  list-style: none;
  margin: 0;
  padding: 100px 0 0 0;
  display: flex;
  gap: 10px;
}

.techs__tech {
  background-color: #303030;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}